<main>
    <h2>Trabajos Publicados</h2>
    <h6>{{faltante}}</h6>
    <button>{{botonFaltante}}</button>

    <table cellspacing="0" cellpadding="0">
        <tr>
            <td class="nameLabel">Nombre</td>
            <td class="valueLabel">El pan más rico</td>
        </tr>
        <tr>
            <td class="nameLabel">Ubicación</td>
            <td class="valueLabel">Campos</td>
        </tr>
        <tr>
            <td class="nameLabel">Tipo</td>
            <td class="valueLabel">Producto</td>
        </tr>
        <tr>
            <td class="nameLabel">Categoría</td>
            <td class="valueLabel">Comida</td>
        </tr>
        <tr>
            <td class="nameLabel">Descripción</td>
            <td class="valueLabel">Ofrezco el pan de masa madre más rico y económico.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. A, tempor metus orci tincidunt. Quam adipiscin.
            </td>
        </tr>
    </table>
    <h4>Contacto</h4>
    <table cellspacing="0" cellpadding="0">
        <tr>
            <td class="nameLabel">Email</td>
            <td class="valueLabel">mail@mail.com.ar</td>
        </tr>
        <tr>
            <td class="nameLabel">Teléfono</td>
            <td class="valueLabel">43211234</td>
        </tr>
        <tr>
            <td class="nameLabel">Celular</td>
            <td class="valueLabel">1597894654</td>
        </tr>
        <tr>
            <td class="nameLabel">Redes Sociales</td>
            <td class="valueLabel">Instagram: @pancitoscalentitos</td>
        </tr>
    </table>
    <h4>Imágenes y Videos</h4>
    <p>Podés subir hasta XX imágenes y videos <br>
        Formatos aceptados: jpg, png, mov, mp4 de hasta 500 MB cada uno.</p>
    <div class="imagenes">
        <img src="../../../../assets/pan1.png" alt="">
        <img src="../../../../assets/pan2.png" alt="">
        <img src="../../../../assets/pan3.png" alt="">
        <img src="../../../../assets/pan4.png" alt="">
    </div>
    <h4>Suscripción</h4>
    <table cellspacing="0" cellpadding="0">
        <tr>
            <td class="nameLabel">Imágenes y/o Video</td>
            <td class="valueLabel">Esencial</td>
        </tr>
        <tr>
            <td class="nameLabel">Suscripción</td>
            <td class="valueLabel">Esencial</td>
        </tr>
    </table>
    <p class="editSus">
        <i class="fas fa-edit"></i>Editar Suscripción
    </p>

    <div class="options">
        <p><i class="fas fa-edit"></i>Editar información personal</p>
        <p><i class="fa fa-times"></i>Eliminar trabajo</p>
    </div>
</main>