img {
    object-fit: cover;
    width: 100%;
}

h5 {
    color: var(--azul-logo);
    font-weight: 700;
    font-size: var(--menu-items);
    margin: 15px 0;
}

.h5Grid {
    text-align: center;
}


.h5List {
    text-align: left;
}

.card {
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.cardList {
    display: flex;
    background-color: white;
    margin-bottom: 20px;
}

/* .divList:hover, */
.divGrid:hover {
    cursor: pointer;
}

/* .cardList:hover, */
.card:hover {
    transform: scale(1.01);
}

.cardList img {
    width: 180%;
}

.divGrid {
    padding: 0 15px;
}

.divList {
    padding-left: 100px;
}

.rtasGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.rtasList {
    display: inline-block;
    max-height: 10px;
    width: 100%;
}

.verMasGrid {
    font-weight: 700;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
}

.verMasList {
    font-weight: 700;
}

i {
    color: var(--rojo-logo);
    font-size: 18px;
    cursor: pointer;
    z-index: 2;
    position: absolute;
}

.card i {
    right: 2%;
    top: 1%;
}

.cardList i {
    right: 4%;
    font-size: 20px;
}

span {
    color: #4F4F4F;
    font-weight: 700;
    font-size: var(--menu-items);
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
}

span:hover {
    cursor: pointer;
}