<main>
    <h2>Contactanos</h2>
    <p>Si tenés alguna duda o consulta, escribinos y te responderemos a la brevedad.</p>
</main>

<form>
    <div class="pairItems">
        <div>
            <label for="name">Nombre y Apellido</label>
            <input type="text" id="name" class="form-control" placeholder="Ingresá tu nombre" required>
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Ingresá tu email" required>
            <label for="phone">Teléfono</label>
            <input type="number" class="form-control" id="phone" placeholder="Ingresá tu contraseña" required>
        </div>
        <div class="form-group col-md-6">
            <label for="mensaje">Mensaje</label> <br>
            <textarea id="mensaje" placeholder="Escribinos tu mensaje" required></textarea>
        </div>
    </div>

    <button type="submit">Enviar Mensaje</button>
</form>