<main>
    <h2>Suscripciones</h2>
    <h5>Tipo de suscripción</h5>
    <h6>Avanzada:</h6>
    <p>Información de tu emprendimiento</p>
    <p>Publicación de 20 imagenes</p>
    <p class="activo">Plan activo. Proxima factura el 25 de julio</p>
    <p class="editSus"><i class="fas fa-edit"></i> Cambiar tipo de suscripción</p>

    <div>
        <h5>Tipo de exposición</h5>
        <h6>Intermedia:</h6>
        <p>Imagen principal grande</p>
        <p>Prioridad de búsqueda</p>
        <p>Nombre emprendimiento destacado</p>
        <p class="activo">Plan activo. Proxima factura el 25 de julio</p>
        <p class="editSus"><i class="fas fa-edit"></i> Cambiar tipo de exposición</p>
    </div>

    <div>
        <p class="editSus"><i class="fas fa-times"></i> Darme de baja de mi suscripción</p>
    </div>

</main>