form {
    padding: 20px 0;
    text-align: center;
    font-family: var(--open-sans);
    margin: 0 20%;
}

label {
    font-size: var(--parrafos);
    margin-left: 10px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 10px;
}

.pairItems {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

input {
    background-color: #F2F2F2;
    border: 0px;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: var(--menu-items);
}

input[type="date"] {
    padding: 15px;
    width: 100%;
}

.form-control:focus,
.form-control:active,
input[type="date"]:focus {
    border: 1px solid #1565D8;
    box-shadow: 0 0 0 0.2rem transparent;
}

i {
    margin-left: -30px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 15px;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: #4F4F4F;
    text-decoration: underline;
}

button {
    background-color: var(--azul-logo);
    color: white;
    border-radius: 20px;
    padding: 10px 50px;
    font-size: var(--menu-items);
    font-weight: 600;
    margin: 30px 0;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    display: inline-block;
    width: auto;
}

.tyc {
    font-size: var(--subtitulos) !important;
    font-weight: 600;
    color: #4F4F4F;
}

.pass {
    display: flex;
}