<div class="formaParte">
    <h2>Formá parte de uahana</h2>
    <p>¿Sos emprendedor?</p>
    <p>Conocé nuestros modelos de suscripción y encontrá la que más se adapte a tu proyecto.</p>

    <div class="planes">
        <h4><span>Imágenes y/o video</span></h4>
        <div class="opcionesPlanes">
            <div class="plan">
                <h3>Básica</h3>
                <div class="linea"></div>
                <p class="inc"><i class="fa fa-check" aria-hidden="true"></i> Información de tu emprendimiento</p>
                <p class="inc"><i class="fa fa-check" aria-hidden="true"></i> Publicación de 2 fotos</p>
            </div>
            <div class="plan recomendado">
                <h5>RECOMENDADO</h5>
                <h3>Esencial</h3>
                <div class="linea"></div>
                <p class="inc"><i class="fa fa-check" aria-hidden="true"></i> Información de tu emprendimiento</p>
                <p class="inc"><i class="fa fa-check" aria-hidden="true"></i> Publicación de <span
                        style="font-weight: 700">10
                        fotos</span></p>
                <p class="info">PRIMEROS 30 DÍAS <br><span>¡GRATIS!</span></p>
            </div>
            <div class="plan">
                <h3>Avanzada</h3>
                <div class="linea"></div>
                <p class="inc"><i class="fa fa-check" aria-hidden="true"></i> Información de tu emprendimiento</p>
                <p class="inc"><i class="fa fa-check" aria-hidden="true"></i> Publicación de <span
                        style="font-weight: 700">20
                        fotos y/o videos</span></p>
            </div>
        </div>
        <h4><span>Exposición</span></h4>
        <div class="opcionesPlanes">
            <div class="plan">
                <h3>Básica</h3>
                <div class="linea"></div>
                <p class="inc"><i class="fa fa-check" aria-hidden="true"></i> Imagen principal</p>
                <p class="inc"><i class="fa fa-check" aria-hidden="true"></i> Nombre del emprendimiento</p>
                <p class="notInc"><i class="fa fa-times" aria-hidden="true"></i> Prioridad de búsqueda</p>
                <p class="notInc"><i class="fa fa-times" aria-hidden="true"></i> Nombre emprendimiento destacado</p>
                <p class="notInc"><i class="fa fa-times" aria-hidden="true"></i> Publicación en página de inicio</p>
            </div>
            <div class="plan recomendado">
                <h5>RECOMENDADO</h5>
                <h3>Esencial</h3>
                <div class="linea"></div>
                <p class="inc"><i class="fa fa-check" aria-hidden="true"></i> Imagen principal</p>
                <p class="inc"><i class="fa fa-check" aria-hidden="true"></i> Nombre del emprendimiento</p>
                <p class="inc"><i class="fa fa-check" aria-hidden="true"></i> Prioridad de búsqueda</p>
                <p class="inc"><i class="fa fa-check" aria-hidden="true"></i> Nombre emprendimiento destacado</p>
                <p class="notInc"><i class="fa fa-times" aria-hidden="true"></i> Publicación en página de inicio</p>
                <p class="info">PRIMEROS 30 DÍAS <br><span>¡GRATIS!</span></p>
            </div>
            <div class="plan">
                <h3>Avanzada</h3>
                <div class="linea"></div>
                <p class="inc"><i class="fa fa-check" aria-hidden="true"></i> Imagen principal</p>
                <p class="inc"><i class="fa fa-check" aria-hidden="true"></i> Nombre del emprendimiento</p>
                <p class="inc"><i class="fa fa-check" aria-hidden="true"></i> Prioridad de búsqueda</p>
                <p class="inc"><i class="fa fa-check" aria-hidden="true"></i> Nombre emprendimiento destacado</p>
                <p class="inc"><i class="fa fa-check" aria-hidden="true"></i> Publicación en página de inicio</p>
            </div>
        </div>
        <button routerLink="/register">Suscribirme</button>
    </div>
</div>