<main>
    <div class="quest">
        <h2>¿Qué estás buscando?</h2>
        <p>¿Buscás algún servicio o producto que nadie te sabe recomendar? Seguro podemos ayudarte &#128512;</p>
        <div class="input-group rounded">
            <input id="busqueda" type="Escribí eso que estas buscando" class="form-control rounded"
                placeholder="Escribí eso que estás buscando" aria-label="Search" aria-describedby="search-addon"
                [(ngModel)]="textSearch" [ngModelOptions]="{standalone: true}" (keyup.enter)="goBusqueda()"><i
                class="fas fa-search"></i>
        </div>
        <p>Probá con:
            <span class="linkOpc" (click)="changeBusqueda('Maestra particular de matemática')">Maestra particular de
                matemática</span>
            <span class="linkOpc" (click)="changeBusqueda('Paseador de perros')">Paseador de perros</span>
            <span class="linkOpc" (click)="changeBusqueda('Pan de masa madre')">Pan de masa madre</span>
            <span class="linkOpc" (click)="changeBusqueda('Masajes a domicilio')">Masajes a domicilio</span>
        </p>
    </div>
    <h5>Destacados</h5>
    <div class="row">
        <div class="col-sm-6">
            <app-card-trabajo [titulo]="titulo1" [descripcion]="descripcion1" [namePict]="namePict1"></app-card-trabajo>
        </div>
        <div class="col-sm-6">
            <app-card-trabajo [titulo]="titulo2" [descripcion]="descripcion2" [namePict]="namePict2"></app-card-trabajo>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <app-card-trabajo [titulo]="titulo3" [descripcion]="descripcion3" [namePict]="namePict3"></app-card-trabajo>
        </div>
        <div class="col-sm-6">
            <app-card-trabajo [titulo]="titulo4" [descripcion]="descripcion4" [namePict]="namePict4"></app-card-trabajo>
        </div>
    </div>
</main>
<app-comofunciona></app-comofunciona>
<app-formaparte></app-formaparte>