<div class="comoFunciona">
    <h2>Cómo Funciona</h2>
    <p>Uahana es tu aliado a la hora de buscar esos servicios y productos que necesitás rápido y con buenas
        recomendaciones.
        Y también podes ofrecer los productos o servicios que querés publicar.</p>
    <div class="pasosComoF">
        <div>
            <img src="../../../assets/iconoBusca.png" alt="buscá">
            <h4>Buscá</h4>
            <span>lo que necesitás</span>
        </div>
        <div>
            <img src="../../../assets/iconoElegi.png" alt="elegi">
            <h4>Elegí</h4>
            <span>el que te convenga</span>
        </div>
        <div>
            <img src="../../../assets/iconoPago.png" alt="pago">
            <h4>Pagá</h4>
            <span>como ambos prefieran</span>
        </div>
    </div>
</div>