<footer>
    <div class="mainFooter">
        <div class="leftFooter">
            <img src="../../../assets/logoWhite.png" alt="">
            <p>Uahana 2022 | Marca registrada</p>
            <p>Todos los derechos reservados</p>
        </div>
        <div class="rightFooter">
            <div class="options">
                <h5>Buscar</h5>
                <a href="">Servicio</a> <br>
                <a href="">Producto</a>
            </div>
            <div class="options">
                <h5>Emprendedor</h5>
                <a href="">Suscribirme</a> <br>
                <a href="">Mi perfil</a>
            </div>
        </div>
    </div>
    <div>
        <div class="options">
            <h5>Contactanos</h5>
            <a href="">Servicio</a> <br>
            <a href="">Producto</a>
        </div>
        <div>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    </div>
</footer>