footer {
    background-color: var(--azul-logo);
    color: white;
    padding: 30px 8%;
    /* display: flex;
    justify-content: space-between; */
    font-family: var(--open-sans);
}

.mainFooter {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    /* border-bottom: 1px solid white; */
    width: 70%;
}

img {
    margin-bottom: 25px;
}

.links {
    display: flex;
    justify-content: space-around;
}

.leftFooter {
    text-align: center;
}

.leftFooter p {
    font-size: var(--parrafos);
    margin-top: -10px;
}

.rightFooter {
    display: flex;
}

.options {
    margin-left: 40px;
}

.contactanos {
    width: 15%;
}

a {
    color: white;
    margin-top: 30px;
    line-height: 30px;
}

h5 {
    font-size: var(--subtitulos);
    font-weight: 700;
}

.redes {
    display: flex;
    justify-content: space-between;
    width: 15%;
}

i {
    font-size: 25px;
    color: white;
}

.line {
    border-top: 1px solid white;
}