<footer>
    <div class="links">
        <div class="mainFooter">
            <div class="leftFooter">
                <img src="../../../assets/logoWhite.png" alt="">
                <p>Uahana 2022 | Marca registrada</p>
                <p>Todos los derechos reservados</p>
            </div>
            <div class="rightFooter">
                <div class="options">
                    <h5>Buscar</h5>
                    <a href="">Servicio</a> <br>
                    <a href="">Producto</a>
                </div>
                <div class="options">
                    <h5>Emprendedor</h5>
                    <a routerLink="/register">Suscribirme</a> <br>
                    <a href="">Mi perfil</a>
                </div>
            </div>
        </div>
        <div class="contactanos">
            <h5>Contactanos</h5>
            <a href="">Sobre Uahana</a> <br>
            <a href="">Términos y Condiciones</a>
        </div>
    </div>

    <div class="links">
        <div class="mainFooter line">

        </div>
        <div class="redes">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    </div>
</footer>