main {
    display: flex;
}

.mainDiv {
    background-color: #EAEBED;
    width: 25%;
}

.container {
    position: relative;
    text-align: center;
}

img {
    padding: 10% 30%;
    cursor: pointer;
}

.changeImage {
    background-color: #000000;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: var(--parrafos);
    color: white;
    position: absolute;
    bottom: 15%;
    right: 30%;
    cursor: pointer;
}

.changeImage:hover {
    background-color: white;
    color: black;
}

.menu {
    margin-top: 20px;
    font-size: var(--menu-items);
    width: 100% !important;
}

p {
    color: var(--gris-oscuro-tipografia);
    padding: 3% 30%;
}

p:hover,
.activo {
    background-color: white;
    color: var(--azul-logo);
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.info {
    width: 75%;
}