<main>
    <div class="mainDiv">
        <div class="container">
            <img src=" ../../../assets/lackImage.png" alt="fotoPerfil">
            <h6 class="changeImage">Cambiar imagen</h6>
        </div>
        <br>
        <div class="menu">
            <p [ngClass]="datosPersonales? 'link activo' : 'link'"
                (click)="datosPersonales = true; misTrabajos = false; misSuscripciones = false; favoritos = false">
                Datos Personales</p> <br>
            <p [ngClass]="misTrabajos? 'link activo' : 'link'"
                (click)="misTrabajos = true; datosPersonales = false; misSuscripciones = false; favoritos = false">Mis
                Trabajos</p> <br>
            <p [ngClass]="misSuscripciones? 'link activo' : 'link'"
                (click)="misSuscripciones = true; datosPersonales = false; misTrabajos = false; favoritos = false">
                Suscripciones</p> <br>
            <p [ngClass]="favoritos? 'link activo' : 'link'"
                (click)="favoritos = true; misSuscripciones = false; datosPersonales = false; misTrabajos = false">
                Favoritos</p> <br>
        </div>
    </div>
    <app-datos-personales class="info" *ngIf="datosPersonales" [datosUser]="datosUsuarios"></app-datos-personales>
    <app-mis-trabajos class="info" *ngIf="misTrabajos"></app-mis-trabajos>
    <app-mis-suscripciones class="info" *ngIf="misSuscripciones"></app-mis-suscripciones>
    <app-favoritos class="info" *ngIf="favoritos"></app-favoritos>
</main>