main {
    padding: 20px 10%;
    font-family: var(--open-sans);
}

h2 {
    margin-top: 30px;
    font-size: var(--titulos-h1);
    color: var(--azul-logo);
    text-align: left;
    font-weight: 700;
    margin-bottom: 30px;
}


img {
    object-fit: cover;
    width: 180%;
    height: auto;
    border-radius: 5px;
}

h5 {
    color: var(--azul-logo);
    font-weight: 700;
    font-size: var(--menu-items);
    margin: 15px 0;
    text-align: left;
}

.cardList {
    padding-bottom: 20px;
    margin-bottom: 10px;
    display: flex;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px rgba(125, 125, 125, 0.15);
    border-radius: 5px;
}

.cardList:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.divList {
    padding-left: 100px;
}

.verMasList {
    font-weight: 700;
}

/* 
i {
    color: var(--rojo-logo);
    font-size: 18px;
    cursor: pointer;
    z-index: 2;
    position: relative;
    right: 4%; 
font-size: 20px;
}

*/