<main>
    <h2>¿Nuevo en Uahana?</h2>
    <div class="tipoReg">
        <div><input type="checkbox" value="lssoyEmprendedor" id="soyEmprendedor" [checked]="checkedEmp"
                (click)="changeCheck()"> <label for="soyEmprendedor">Soy
                Emprendedor</label></div>
        <div><input type="checkbox" value="lsbusco" id="busco" [checked]="checkedCliente" (click)="changeCheck()">
            <label for="busco">Estoy buscando un producto o servicio</label>
        </div>
    </div>
</main>
<app-register-emprendedor *ngIf=checkedEmp></app-register-emprendedor>
<app-register-cliente *ngIf="checkedCliente"></app-register-cliente>