<main>
    <h2>¡Hola {{nombreNoEditable | titlecase}}!</h2>
    <table cellspacing="0" cellpadding="0">
        <tr>
            <td class="nameLabel">Nombre</td>
            <!-- <td class="valueLabel">{{usuarioUpdate.Nombre | titlecase}}</td>
             -->
            <input [ngClass]="{'noEditable': !editable, 'editable': editable}" type="text"
                value="{{usuarioUpdate.Nombre | titlecase}}" [(ngModel)]="usuarioUpdate.Nombre"
                (change)="editable = true">
        </tr>
        <tr>
            <td class="nameLabel">Apellido</td>
            <input [ngClass]="{'noEditable': !editable, 'editable': editable}" type="text"
                value="{{usuarioUpdate.Apellido | titlecase}}" [(ngModel)]="usuarioUpdate.Apellido"
                (change)="editable = true">
        </tr>
        <tr>
            <td class="nameLabel">Email</td>
            <input [ngClass]="{'noEditable': !editable, 'editable': editable}" type="email"
                value="{{usuarioUpdate.email | lowercase}}" [(ngModel)]="usuarioUpdate.email"
                (change)="editable = true">
        </tr>
        <tr>
            <td class="nameLabel">Fecha de Nacimiento</td>
            <input [ngClass]="{'noEditable': !editable, 'editable': editable}" type="date"
                value="{{usuarioUpdate.FechaNacimiento}}" [(ngModel)]="usuarioUpdate.FechaNacimiento"
                (change)="editable = true">
        </tr>
        <tr>
            <td class="nameLabel">DNI</td>
            <input [ngClass]="{'noEditable': !editable, 'editable': editable}" type="number"
                value="{{ usuarioUpdate.DNI }}" [(ngModel)]="usuarioUpdate.DNI" (change)="editable = true">
        </tr>
        <tr *ngIf="editable">
            <td></td>
            <p (click)="updateUser()" class="guardar"><i class="fas fa-save"></i>Guardar</p>
        </tr>
    </table>
    <div class="options">
        <p (click)="editable=!editable"><i class="fas fa-edit"></i>Editar información personal</p>
        <p><i class="fa fa-lock"></i>Cambiar contraseña</p>
        <p (click)="onLogout()"><i class="fa fa-sign-out"></i>Cerrar Sesión</p>
    </div>
    <notifier-container></notifier-container>
</main>