<main>
    <h2>¡Hola Nicolás!</h2>
    <table cellspacing="0" cellpadding="0">
        <tr>
            <td class="nameLabel">Nombre</td>
            <td class="valueLabel">Nicolás</td>
        </tr>
        <tr>
            <td class="nameLabel">Apellido</td>
            <td class="valueLabel">Campos</td>
        </tr>
        <tr>
            <td class="nameLabel">Email</td>
            <td class="valueLabel">nicoca@hotmail.com</td>
        </tr>
        <tr>
            <td class="nameLabel">Fecha de Nacimiento</td>
            <td class="valueLabel">09/06/1981</td>
        </tr>
        <tr>
            <td class="nameLabel">DNI</td>
            <td class="valueLabel">34567890</td>
        </tr>
    </table>
    <div class="options">
        <p><i class="fas fa-edit"></i>Editar información personal</p>
        <p><i class="fa fa-lock"></i>Cambiar contraseña</p>
        <p><i class="fa fa-sign-out"></i>Cerrar Sesión</p>
    </div>
</main>