main {
    padding: 20px 10%;
    font-family: var(--open-sans);
}

h2 {
    margin-top: 30px;
    font-size: var(--titulos-h1);
    color: var(--azul-logo);
    text-align: left;
    font-weight: 700;
}

table {
    margin-top: 30px;
    border: none;
    width: 50%;
}

td {
    padding: 5px 15px;
    vertical-align: top;
}

.nameLabel {
    font-size: var(--subtitulos);
}

.valueLabel {
    color: var(--gris-oscuro-tipografia);
    font-size: var(--subtitulos);
    font-weight: 700;
}

.options {
    margin-top: 30px;
    color: var(--azul-logo);
    font-size: var(--subtitulos);
    font-weight: 700;
}

i {
    margin-right: 5px;
}

p {
    margin-top: 20px;
}

p:hover {
    text-decoration: underline;
    cursor: pointer;
}

input {
    color: var(--gris-oscuro-tipografia);
    font-size: var(--subtitulos);
    font-weight: 700;
    padding: 5px 15px;
    vertical-align: top;
    margin-bottom: 5px;
    width: 100%;
}

input[type="date"] {
    width: 100%;
}

.noEditable {
    background-color: transparent;
    border: 1px solid transparent;
}

.editable {
    border: 1px solid var(--azul-logo);
}

.guardar {
    margin-left: 50px;
    color: green;
    font-weight: 600;
}