.formaParte {
    padding: 60px 80px;
}

h2 {
    color: var(--azul-logo);
    font-size: var(--titulos-h2);
    text-align: left;
    font-weight: 700;
    margin-bottom: 20px;
}

p {
    font-size: var(--subtitulos);
    text-align: left;
}

.planes {
    margin-top: 50px;
}

h2 span {
    margin-right: 50px;
    color: var(--secundario2);
    border: 1px solid var(--secundario2);
    padding: 5px 15px;
    border-radius: 50%;

}

.opcionesPlanes {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    text-align: center;
}

.plan {
    background-color: white;
    padding: 50px 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.plan:hover {
    transform: scale(1.02);
    cursor: pointer;
}

h3 {
    color: var(--azul-logo);
    font-size: var(--titulos-h2);
    font-weight: 700;
    margin-bottom: 20px;
}

.linea {
    border-bottom: 5px solid #A3BAC3;
    margin: 20px 40%;
}

.plan p {
    text-align: left;
}

.inc i {
    color: green;
}

.inc p {
    color: black;
}

.recomendado {
    border: 1px solid var(--rojo-logo);
    border-top: 40px solid var(--rojo-logo);
    padding: 0px 20px;
}

h5 {
    color: white;
    font-weight: 700;
    position: relative;
    top: -30px;
}

.info {
    color: var(--rojo-logo);
    font-weight: 700;
    text-align: center !important;
}

.info span {
    font-size: var(--menu-items);
}

.infoAzul {
    color: var(--azul-logo);
    font-weight: 700;
    font-size: var(--menu-items);
    text-align: center !important;
}

.infoAzul span {
    font-weight: 500;
    font-size: var(--subtitulos);
}


button {
    margin-top: 10px;
    font-weight: 700;
    color: white;
    background-color: var(--azul-logo);
    padding: 5px 30px;
    border-radius: 20px;
    border: 1px solid var(--azul-logo);
}

button:hover {
    color: var(--azul-logo);
    background-color: white;
}

.notInc,
.notInc i {
    color: var(--secundario2) !important;
}

table {
    border: 0px;
    border-collapse: collapse;
    width: 100%;
}


td {
    border-bottom: 1px solid #EAEBED;
    font-size: var(--subtitulos);
    text-align: left;
    padding: 20px 30px;
}

.tipoE {
    color: var(--azul-logo);
    font-weight: 700;
}